:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #4e4e4e;
    --primary-color: #D34786;
    --font-primary: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,600;1,700;1,800&display=swap');
@keyframes showUp {
    from {
        opacity: 0;
        top: -15px;
    }
    from {
        opacity: 1;
        top: 0;
    }
}