/* menu-top  */

.menu-top {}

.menu-top-nav {
    height: 144px;
    background: url("../images/bg_header.jpg");
}

.menu-top-list li a {
    font-size: 14px;
    /*line-height: 48px;
    */
    color: #fff;
    font-weight: 500;
    font-family: var(--font-primary);
    /*display: block;
    */
    padding: 10px 0px;
    margin: 11px 14px;
    width: 80px;
    text-align: center;
    border-radius: 25px;
    transition: ease-in 0.2s;
    -webkit-transition: ease-in 0.2s;
    -moz-transition: ease-in 0.2s;
    -ms-transition: ease-in 0.2s;
    -o-transition: ease-in 0.2s;
}

.menu-top-list li a:hover {
    background-color: rgba(40, 40, 40, 0.8);
    /* font-weight: 600; */
}


/* //menu-top  */


/* banner  */

.banner {
    height: 574px;
    padding-top: 11%;
    background: url("../images/banner_header.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 144px;
}

.banner-title {
    margin-top: 100px;
}

.banner-title h4 {
    display: inline-block;
    font-size: 24px;
    line-height: 20px;
    padding: 10px;
    background-color: rgba(210, 74, 136, 0.5);
}

.banner-desc {
    margin-top: -5px;
}

.banner-desc p {
    background-color: rgba(210, 74, 136, 0.6);
    display: inline-block;
    font-size: 20px;
    line-height: 17px;
    padding: 10px;
}


/* //banner  */


/* service  */

.service {
    height: 330px;
    border-bottom: 2px solid #eeeeee;
    /* background-color: #fff; */
}

.service-wrap {
    text-decoration: none;
    display: block;
}

.service-wrap:hover {
    text-decoration: none;
}

.service-top:hover .service-top-layer-1 {
    opacity: 1;
}

.service-top:hover h4 {
    opacity: 1;
}

.service-top {
    position: relative;
}

.service-top img {
    z-index: 1;
    width: 100%;
}

.service-top h4 {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
    margin: 0 0 28px 28px;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    animation-delay: 0.25s;
}

.service-top-layer-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 3;
    opacity: 0;
    transition: 0.5;
    -webkit-transition: 0.5;
    -moz-transition: 0.5;
    -ms-transition: 0.5;
    -o-transition: 0.5;
}

.service-top-layer-2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    height: 6px;
    background-color: #f8cde1;
}

.service-bottom .title {
    font-size: 14px;
    text-transform: uppercase;
    color: black;
}

.service-bottom p {
    font-size: 13px;
    color: var(--text-color);
    width: 300px;
}

.service-top .service-top-layer-2.layer-2--bold {
    background-color: #ef8ab9;
}

.service-top .service-top-layer-2.layer-3--bold {
    background-color: #e8599b;
}

.service .container .row .col-sm-4 {
    padding-left: 2px;
    padding-right: 2px;
}


/* //service  */


/* product  */

.product {
    height: 1450px;
    background-color: #f8f8f8;
    padding-top: 5%;
}

.product-1 {
    width: 280px;
}

.product-1-title {
    font-size: 13px;
    color: #4e4e4e;
    text-transform: uppercase;
    font-weight: 700;
}

.product-1 p {
    font-size: 11px;
    color: #363636;
}

.product-2 {
    width: 298px;
}

.product-2 img {
    width: 100%;
    box-shadow: 5px 10px 18px #88888859;
}

.product-2 h4.title {
    font-size: 13px;
    color: #272630;
    text-transform: uppercase;
    font-weight: 700;
}

.product-2 span {
    font-size: 11px;
    color: #aaaaaa;
    font-weight: 500;
    font-style: italic;
}


/* //product  */


/* footer */

footer {
    height: 175px;
    background-color: #343434;
}

footer p {
    font-size: 13px;
    color: #cfcdcd;
    margin-top: 15px;
}

footer span {
    color: var(--text-color);
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    margin-top: 10px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    margin-right: 10px;
}

.socials a i {
    color: #fff;
    font-size: 20px;
    margin: auto;
}


/* //footer */