.down {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    margin-top: 200px;
    opacity: 0;
}

.card {
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.moveRight {
    /*transform: translateX(700px);
    -webkit-transform: translateX(700px);
    -moz-transform: translateX(700px);
    -ms-transform: translateX(700px);
    -o-transform: translateX(700px);
    */
    animation: moveRight 1s forwards;
    -webkit-animation: moveRight 1s forwards;
}

@-webkit-keyframes moveRight {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    to {
        transform: translateX(700px);
        -webkit-transform: translateX(700px);
        -moz-transform: translateX(700px);
        -ms-transform: translateX(700px);
        -o-transform: translateX(700px);
    }
}